version: "3.8"

services:
  app:
    build: .
    container_name: finalizabot-app
    restart: unless-stopped
    env_file:
      - .env.local
    environment:
      NODE_ENV: production
    ports:
      - "3000:3000"
    command: >
      sh -c "npx prisma generate && npx prisma db push && npm run start"
